<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temp Tools - Image Placeholder API</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>
<!--&lt;!&ndash; Header Section &ndash;&gt;-->
<!--<header>-->
<!--    <div class="logo">TEMP.TOOLS</div>-->
<!--    <nav>-->
<!--        <a href="#">Home</a> |-->
<!--        <a href="#">Features</a> |-->
<!--        <a href="#">Pricing</a> |-->
<!--        <a href="#">Documentation</a> |-->
<!--        <a href="#">Sign up</a> |-->
<!--        <a href="#">Log in</a>-->
<!--    </nav>-->
<!--</header>-->

<!-- Hero Section -->
<section class="hero">
    <h1>A Picture Is Worth a Thousand Words</h1>
    <h2>Make Your Development Easier with Temp.Tools</h2>
    <p>Kickstart your design with our fast and responsive image placeholder API.</p>
    <p>Get started with temp.tools now and never get stuck looking for placeholders again!</p>
</section>

<!-- Demo Section -->
<section class="demo">
    <h2>Try it Out Now!</h2>
    <div class="demo-call">
        <p>Want a 250x250px image? Simple! Just call:</p>
        <code>temp.tools/i/250</code>
        <img src="./i/250" alt="Demo Image 1">
    </div>
    <div class="demo-call">
        <p>Need a 350x125px image? We've got you covered! Just use:</p>
        <code>temp.tools/i/350/125</code>
        <img src="./i/350/125" alt="Demo Image 2">
    </div>
</section>

<!--&lt;!&ndash; Features Section &ndash;&gt;-->
<!--<section class="features">-->
<!--    <h2>Why Choose Temp.Tools?</h2>-->
<!--    &lt;!&ndash; Add feature points here &ndash;&gt;-->
<!--</section>-->

<!--&lt;!&ndash; Pricing Section &ndash;&gt;-->
<!--<section class="pricing">-->
<!--    <h2>Affordable Plans for Every Developer</h2>-->
<!--    &lt;!&ndash; Add pricing plans here &ndash;&gt;-->
<!--</section>-->

<!--&lt;!&ndash; Call to Action Section &ndash;&gt;-->
<!--<section class="cta">-->
<!--    <h2>Start Streamlining Your Development Today!</h2>-->
<!--    <p>Get your placeholders with temp.tools. Start your journey with our flexible and user-friendly API today.</p>-->
<!--    <a href="#" class="cta-button">Start for Free</a>-->
<!--    <a href="#" class="cta-button">Sign Up</a>-->
<!--</section>-->

<!--&lt;!&ndash; Footer Section &ndash;&gt;-->
<!--<footer>-->
<!--    <p>&copy; 2023 Temp.Tools - All rights reserved</p>-->
<!--    <nav>-->
<!--        <a href="#">Support</a> |-->
<!--        <a href="#">Terms of Service</a> |-->
<!--        <a href="#">Privacy Policy</a> |-->
<!--        <a href="#">Cookie Policy</a>-->
<!--    </nav>-->
<!--</footer>-->
</body>

</html>